@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Fundo agora com um tom de roxo para aparecer um app de música */
body {
  
    justify-content: center;
    min-height: 200vh;
    /* vh = viewport height */
    background-color: rgba(46, 36, 187, 0.952);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1900px;
}

.container .card {
    position: relative;
    width: 370px;
    height: 490px;
    /* Sombras ajustadas para um brilho sutil */
    box-shadow: inset 5px 5px 5px rgba(149, 41, 217, 0.503), inset -5px -5px 15px rgba(119, 62, 225, 0.342), 5px 5px 15px rgba(239, 233, 119, 0.652);
    border-radius: 15px;
    margin: 30px;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(240, 231, 104, 0.863);
    border: 3px solid #eeec7f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
}

/* Gradiente musical neon no hover (Roxo para o Amarelo) */
.container .card:hover .box {
    transform: translateX(-50px);
    background: linear-gradient(45deg, #7f44afcc, #731b80a8);
    box-shadow: 0 15px 35px rgba(177, 64, 230, 0.541);
}

.container .card .box .content {
    padding: 40px;
    text-align: center;
}

.container .card .box .content h3 {
    font-size: 1.9em;
    color: rgb(0, 0, 0);
    margin-bottom: 12px;
}

.container .card .box .content p {
    font-size: 1.1em;
    font-weight: 490;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    transition: 0.5s;
}

.container .card:hover .box .content p {
    color: rgba(234, 236, 113, 0.692)
}

/* Botão de play estilizado */
.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #3537b4b7;
    /* Botão azul para contraste */
    margin-top: 10px;
    border-radius: 20px;
    color: #ffffffe7;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.container .card:hover .box .content a {
    background: #eeec7f;
    /* Muda para o Amarelo no hover */
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(177, 64, 230, 0.541);
}
img{
    padding: 5px;
    width: 180px;
    border-radius: 50px;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 10px 10px;
}

banner h1 {
    display: flex;
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

banner p {
    font-size: 1.1rem;
    opacity: 0.8;
}

/* NAVBAR */
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 20px;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: rgb(124, 219, 120);
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color: rgb(241, 243, 129);
}

main {
    padding: 40px 20px;
}
